body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

a { font-family: Verdana; text-decoration:none; color:#777; font-size:9px; display:block; padding:5px; border: 1px solid #fff;}
a:hover { text-decoration:underline; color: red; background-color: #ccc; border: 1px solid #bbb;}
li { padding:2px;}
div.legenda {float:left; width: 220px; text-align:center;}
img {border: 1px solid #ccc;}